[run]
source = users/, movies/, users_api/, movies_api/
omit=
    venv
    */apps.py
    */admin.py
    */urls.py
    */migrations/*
    *__init__.py
    */backends.py
exclude_lines=
    pragma: no cover
