{% extends 'moviepact/base.html' %}

{% block content %}


<div class="container-fluid" style="padding-top: 100px;">
	<div class="row">
		<div class="col-md-12">
			<div class="row" style="min-height: 300px;">
				<div class="col-md-2">
				</div>
				<div class="col-md-8" id="dates" style="border: 1px solid black;">
					<h1>Repertoire</h1>
					<div class="btn-group btn-group-sm" role="group" style="border: 1px solid red; margin-left: 22px;">
				 
						<button class="btn btn-secondary" type="button" style="width: 120px;">
							<p>{{today.0}}</p><br><p>{{today.1}}</p>
						</button> 
						{% for x in days %}
						<button class="btn btn-secondary" type="button" style="width: 120px;">
							<p>{{x.0}}</p><br><p>{{x.1}}</p>
						</button> 
						{% endfor %}
						
					</div>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}